<html>
  
  <head>
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
      <script>
          window.onload = function(){
               Vue.component(
                  'todo-item',{
                      template:'<li>这是个代办项</li>'
                  }
              );
              var app = new Vue({
                  el:'#app',
                  data:{
                      message:'Hello World!'
                  }
              });
              var app2 = new Vue({
                  el:'#app2',
                  data:{
                      tip:'页面加载于 '+new Date()
                  }
              });  
              var app3 = new Vue({
                  el:'#app3',
                  data:{
                      seen:false
                  }
              });
              var app4 = new Vue({
                  el:'#app4',
                  data:{
                      todos:[
                          {text:'学习JS'},
                          {text:'学习Vue'},
                          {text:'搞个牛项目'}
                      ]
                  }
              });
              var app5 = new Vue({
                  el:'#app5',
                  methods:{
                      addTodo:function(){
                          window.app4.todos.push({text:'add by click'});
                      },
                      removeTodo:function(){
                          if(window.app4.todos.length>0){
                              window.app4.todos.pop();
                          }else{
                              alert('没有Todo了');
                          }
                      }
                  }
              });
              var app6 = new Vue({
                  el:'#app6',
                  data:{
                      message:'Hello Vuejs!'
                  }
              });
           
              window.app = app;
              window.app2 = app2;
              window.app3 = app3;
              window.app4 = app4;
              window.app5 = app5;
              window.app6 = app6;
          }
      </script>
  </head>
  <body>
      <!--声明式渲染，文本插值-->
      <div id="app">
          {{message}}
      </div>
      <div id="app2">
          <span v-bind:title="tip">
              鼠标悬停查看动态绑定提示信息
          </span>
      </div>
      <div id="app3">
          <p v-if="seen">看到了</p>
      </div>
      <div id="app4">
          <ol>
              <li v-for="todo in todos">
                  {{todo.text}}
              </li>
          </ol>
      </div>
      <div id="app5">
          <button v-on:click="addTodo">添加Todo</button>
          <button @click="removeTodo">删除Todo</button>
     </div>
     <!--双向绑定-->
     <div id="app6">
        <p>{{message}}</p>
        <input v-model="message"/>
     </div>
     <div>
         <ol>
             <todo-item></todo-item>
         </ol>
     </div>
  </body>
 

</html>